<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title slot="secondary">Crear bici</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="bikeForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Nombre:</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="..." formControlName="name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Marca:</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="..." formControlName="brand"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Fecha:</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="date" formControlName="date"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Portada:</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="url" placeholder="http://****" formControlName="cover"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>Descripción:</ion-label>
        </ion-col>
        <ion-col>
          <ion-textarea placeholder="****" formControlName="description"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button type="submit" color="primary">
      <ion-label>Guardar</ion-label>
      <ion-icon name="save"></ion-icon>
    </ion-button>
  </form>
</ion-content>
