<ion-app>
  <ion-menu side="end" type="push">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label [routerLink]="['home']">Bicis</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="add" slot="start"></ion-icon>
          <ion-label [routerLink]="['create']">Añadir bici</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
