<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ciclos Zazpe
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/3.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Tienda</ion-card-subtitle>
      <ion-card-title>Bienvenido a Ciclos Zazpe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        CICLOS ZAZPE es una empresa familiar creada en los años 80,
        fundada por David e Ismael, dedicada desde sus inicios en
        exclusiva al mundo de la bicicleta. Gracias a esta exclusividad
        y a un gran trabajo profesional la empresa ha ido ganando un gran
        prestigio a lo largo de los años, siendo en la actualidad un referente
        en su entorno. Hemos intentado convertir nuestra pasión por las
        bicicletas en un mundo de servicios alrededor del ciclismo.
      </p>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <div *ngIf="haveValues">
    <ion-list>
      <ion-item >
        <ion-row>
          
            <ion-col sizeLg="4" sizeMd="6" sizeXs="12" *ngFor="let bike of bikes" (click)="bikeTapped(bike)">
            
              <ion-card>
                <img src="{{bike.cover}}" style="height: 220px;"/>
                <ion-card-header>
                  <ion-card-subtitle>{{bike.brand}}</ion-card-subtitle>
                  <ion-card-title>{{bike.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{bike.description}}
                </ion-card-content>
              </ion-card>
            </ion-col>       
    </ion-row>
      </ion-item>
    </ion-list>
  </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; Ciclos Zazpe</ion-title>
  </ion-toolbar>
</ion-footer>