<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title slot="secondary">Detalles de bici</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="bike">
    <img src="{{bike.cover}}">
    <ion-card-header>
      {{bike.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{bike.brand}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{bike.date}}</ion-label>
        </ion-item>
        <ion-item>
          {{bike.description}}
        </ion-item>
      </ion-list>
      <ion-button shape="round" color="secondary" size="small" (click)="editRecord(bike)">
        <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="danger" size="small" (click)="removeRecord(bike.id)">
        <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>